@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700|Open+Sans&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/*font-family: 'Open Sans', sans-serif;*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
p{
	text-align: justify;
}
body{
	font-family: 'Open Sans', sans-serif;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
	display: block;
}
header{
    padding: 30px 0;
    color:#ffffff;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
header .row{
	align-items: center;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.logo{
	max-width: 20%;
	flex-basis: 20%;
}

.logo a{
	color: #28377e;
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
nav{
    max-width: 80%;
    flex-basis: 80%;
}
nav ul{
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{
	color: #204f87;
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 0 14px;
    
}
nav ul li a:hover{
	color:#F2642C;
}

.banner-section{
	position: relative;
	overflow: hidden;
}

.banner-orange{
	position: absolute;
	top: 0;
	left: 0;
}
.banner-section a{ 
}
.banner-content{
	max-width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.banner-content h1{
	font-size: 75px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.1;
}
.down-arrow{
	display: block;
    position: absolute;
    color: #fff;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: click-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes click-down{
	0%{
		bottom: 80px;
	}
	50%{
		bottom: 40px;
	}
	100%{
		bottom: 80px;
	}
}

.whoweare-section{
    margin: 120px 0 200px;
}
.whoweare-section .row{
    justify-content: space-between;
}
.whoweare-content{
    max-width: 55%;
    flex-basis: 55%;
}
.heading{}
.heading span{
    width: 60px;
    height: 4px;
    background-color: #f2622c;
    display: block;
}
.heading h1{
    font-size: 36px;
    color: #204f87;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    font-size: 14px;
    color: #b0b0b1;
    margin-bottom: 30px;
}
.whoweare-img{
    max-width: 30%;
    flex-basis: 30%;
}

.whoweare-img img{
}


.whatwedo-section{
    background-image: url(../images/whatwedo-bg.png);
    background-color: #f7f8f8;
    background-repeat: no-repeat;
    padding: 80px 0 120px;
    background-position: bottom right;
}
.whatwedo-section .heading{
	text-align: center;
	margin-bottom: 70px;
}
.whatwedo-section .heading span{
	margin: auto;
}
.whatwedo-section .heading h1{
}


.whatwedo{
	max-width: 33.33%;
	flex-basis: 33.33%;
	padding: 0px 10px;
	
}
.whatwedo-content{
	position: relative;
}

.whatwedo-content span{
	width: 100%;
	height: 40%;
	display: block;
	position: absolute;
	/*background: #29377e7d;*/
	bottom: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,28377e+82,28377e+82&0+0,1+85 */
background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(40,55,126,0.96) 82%, rgba(40,55,126,1) 85%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(40,55,126,0.96) 82%,rgba(40,55,126,1) 85%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(40,55,126,0.96) 82%,rgba(40,55,126,1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#28377e',GradientType=0 ); /* IE6-9 */
	transition: all 0.3s;
	opacity: 0;
	}
.whatwedo-content:hover span{
	height: 100%;
	opacity: 1;
}
.whatwedo-content img{
	width: 100%;
}

.whatwedo-content h2{
   color: #fff;
   text-transform: uppercase;
   font-size: 26px;
   position: absolute;
   top: 60%;
   left: 0%;
   z-index: 1;
   width: 100%;
   text-align: center;
   transform:translateY(-50%);
   transition: all 0.5s ease-in-out;
   opacity: 0;
}
.whatwedo-content:hover h2{
	top: 50%;
	transform:translateY(-50%);
	opacity: 1;
}

.whatwedo-content a{
    position: absolute;
    bottom: 25px;
    color: #fff;
    left: 30%;
    transform: translateX(-30%);
    z-index: 1;
    transition: all 0.5s ease-in-out;
   	opacity: 0;
}
.whatwedo-content:hover a{
	left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}
.whatwedo-content a img{
	/*width: auto;*/
	width: 50px;

}
.attorneys-section{
	background-image: url(../images/attorneys_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 110px 0;
}
.attorneys-heading{
	max-width: 33.33%;
	flex-basis: 33.33%;
	padding: 10px;
	padding-right: 80px;
}
.attorneys-heading .heading{}
.attorneys-heading .heading h1{
	color: #fff;
	max-width: 250px;
}
.link-more{
	font-size: 16px;
	font-weight: 700;
	color: #f2622c;
	text-transform: uppercase;
}
.attorneys{
	max-width: 66.66%;
	flex-basis: 66.66%;
	padding: 10px;
}
.attorney{
	max-width: 50%;
	flex-basis: 50%;
	padding: 10px;
}
.attorney-detail{
	position: relative;
}
.attorney-detail img{
	width: 100;
}
.attorney-detail h2{
	color: #fff;
	position: absolute;
	bottom: 20px;
	left: 35px;
	font-size: 24px;
	z-index: 1;
	opacity: 0;
	transition: all 0.4s ease;
}
.attorney-detail:hover h2{
	bottom: 50px;
	opacity: 1;
}
.attorney-detail span{
	width: 100%;
	height: 50%;
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(40,55,126,0.96) 82%, rgba(40,55,126,1) 85%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(40,55,126,0.96) 82%,rgba(40,55,126,1) 85%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(40,55,126,0.96) 82%,rgba(40,55,126,1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#28377e',GradientType=0 ); /* IE6-9 */
}
.attorney-detail:hover span{
	height: 100%;
	opacity: 1;
	transition: all 0.4s ease;
}


.language-section{
	padding: 140px;
}
.language-section .heading{
	text-align: center;
}
.language-section .heading span{
	margin:0 auto;
}
.languages{
	max-width: 25%;
	flex-basis: 25%;
	padding: 30px 15px;
}
.languages h3{
	color: #28377e;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px;

}
.languages p{}

footer{
	background-color: #28377e;
	padding-top: 100px;
}
footer .heading{
	text-align: center;
}
footer .heading span{
	margin: auto;
}
footer .heading h1{ 
	color: #fff; 
}
footer .row{
	justify-content: center;
}
.contact{
	flex-basis: 50%;
	max-width: 50%;
	text-align: center;
	padding-bottom: 100px;
}
.contact input, .contact textarea{
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid transparent;
	border-bottom: 2px solid #3f4d8e;
	background-color: transparent;
	font-size: 14px;
	color: #fff;
}
.contact input[type="submit"]{
	background-color: #f2622c;
	width: auto;
	border-bottom: 0;
	padding: 15px 85px;
	font-weight: 600;
}

.footer-bottom{
	background-color: #0c1234;
	padding: 50px 0;
}
.copyright{
	max-width: 50%;
	flex-basis: 50%;
}
.copyright p{
	margin: 0;
	color: #616ca8;
}
.social-link{
	max-width: 50%;
	flex-basis: 50%;
}
.social-link ul{
	justify-content: flex-end;
}
.social-link ul li{}
.social-link ul li a{
	color: #616ca8;
	display: block;
	margin-left: 15px;
}
.social-link ul li a:hover{}

.contact input:focus, textarea:focus{
	outline: none;
	border:2px solid #3f4d8e;
}
::placeholder{
	color: #fff;
}

/*@media (max-width: 1199px){
	.container{
		width: 900px;
	}
}
}
@media (max-width: 992px){
	.container{
	width: 600px;
}
}
@media (max-width: 767px){
	.container{
	width: 500px;
}
}*/
@media (max-width: 1350px){
	.banner h1{
		font-size: 65px;
	}
}
@media (max-width: 1200px){
	.container{
		width: 900px;
	}
	.banner-content h1{
		font-size: 55px;
	}
}
@media (max-width: 1000px){
	.container{
		width: 700px;
	}
	nav ul li a{
		font-size: 11px;
		padding: 0 4px;
	}
	.banner-content h1{
		font-size: 45px;
	}
	.whoweare-content{
	max-width: 60%;
	flex-basis: 60%;
}
.whoweare-img{
	max-width: 33%;
	flex-basis: 33%;
}
.whoweare-section .row{
    align-items: center;
}
}
@media (max-width: 800px){
	.container{
		width: 500px;
	}
	.logo{
		max-width: 100%;
		flex-basis: 100%;
		text-align: center;
	}
	nav{
		max-width: 100%;
		flex-basis: 100%;
}
nav ul{
		justify-content: center;
}
header{
	padding: 15px 0;
}
.banner-content h1{
		font-size: 35px;
	}
}
.heading span {
    margin: 0 auto;
}
.link-more {
    margin: 0 auto;
    display: block;
}
@media (max-width: 600px){
	.container{
		width: 100%;
		padding: 15px;
	}
	.down-arrow{
		display: none;
	}
	.banner-content h1{
		font-size: 16px;
	}
	.heading h1 {
    font-size: 18px;
}
.banner-orange {
    width: 50%;
}
.link-more {
    margin: 0 auto;
    display: block;
text-align: center;
}
.language-section {
    padding: 0;
}
.whatwedo-section {
    background-size: 83%;
}
.whatwedo-section {
    padding: 25px 0 40px;
}
.attorneys-section {
	padding: 30px 0;
}
.attorneys-section .row{
	justify-content: center;
}
.attorneys-heading {
	flex-basis: 56%;
	max-width: 56%;
	padding: 0;
	margin: 0;
}
.attorneys-heading .heading h1 {
    text-align: center;}
.languages {
    max-width: 100%;
    flex-basis: 100%;
}

.whoweare-section {
	margin: 0;
}
	.whoweare-content{
	max-width: 100%;
	flex-basis: 100%;
	text-align: center;
}
.whoweare-content .heading span{
	margin: auto;
}
.whoweare-img{
	max-width: 50%;
	flex-basis: 50%;
}
.whoweare-section .row{
    justify-content: center;
}
.whoweare-section {
    padding: 50px 0 50px;
}
.contact input[type="submit"] {
 padding: 5px;
}
.footer-bottom {
padding: 0; 
}
.copyright p {
    font-size: 15px;
}
footer {
    padding-top: 50px;
}
}

